# **Data Pre-processing**

In [1]:
import pandas as pd 
import json
from sklearn.preprocessing import StandardScaler

import sys
import os

# Add the parent directory of 'src' to the system path
sys.path.append(os.path.abspath(os.path.join('..')))


from src.model_spec import specs

In [2]:
# Combines data from two CSV files into a single DataFrame.
data = pd.concat([pd.read_csv('./student/student-mat.csv', sep=';'), 
                  pd.read_csv('./student/student-por.csv', sep=';')], 
                  ignore_index=True)

data

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,4,10,11,10
1040,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,4,15,15,16
1041,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,6,11,12,9
1042,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,6,10,10,10
1043,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,4,10,11,11

### Removing inconsistent data

In [3]:
# Removing school, guardian from the 'data'

data = data.drop(columns=['school', 'guardian'])

### Encoding non-numeric data

In [5]:
def encode_dataframe(dataframe: pd.DataFrame, columns: list) -> tuple[pd.DataFrame, dict]:
    """
    Encodes specified columns of a DataFrame into numeric values based on their unique values.

    Parameters:
        dataframe (pd.DataFrame): The DataFrame to encode.
        columns (list): A list of column names to be encoded.

    Returns:
        tuple: A tuple containing:
            - The updated DataFrame with specified columns encoded.
            - A dictionary where each key is a column name and the value is the vocabulary (list of unique values).
    """
    encoding_vocab = {}

    for column in columns:
        # Create a vocabulary (list of unique values) for the current column
        unique_values = dataframe[column].unique().tolist()

        # Create a mapping from unique values to their indices
        value_to_index = {value: idx for idx, value in enumerate(unique_values)}

        # Apply the mapping to the column for encoding
        dataframe[column] = dataframe[column].map(value_to_index)

        # Store the vocabulary for this column
        encoding_vocab[column] = unique_values

    return dataframe, encoding_vocab

### Decode the encoded DataFrame

In [6]:
def decode_dataframe(dataframe: pd.DataFrame, encoding_vocab: dict) -> pd.DataFrame:
    """
    Decodes specified columns of a DataFrame from numeric values to their original values.

    Parameters:
        dataframe (pd.DataFrame): The DataFrame to decode.
        encoding_vocab (dict): A dictionary where each key is a column name and the value is the vocabulary (list of unique values).

    Returns:
        pd.DataFrame: The updated DataFrame with specified columns decoded.
    """
    for column, vocab in encoding_vocab.items():
        # Create a mapping from indices to unique values
        index_to_value = {idx: value for idx, value in enumerate(vocab)}

        # Apply the mapping to the column for decoding
        dataframe[column] = dataframe[column].map(index_to_value)

    return dataframe

In [7]:
# Encode the specified columns in the DataFrame and get the lookup table
data, lookup_table = encode_dataframe(data, specs.data_columns_to_encode)

# Save the lookup table to a JSON file for future reference
with open('lookup_table.json', 'w') as file:
    json.dump(lookup_table, file, indent=4)

In [24]:
data

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,0,18,0,0,0,4,4,0,0,0,...,4,3,4,1,1,3,6,5,6,6
1,0,17,0,0,1,1,1,0,1,0,...,5,3,3,1,1,3,4,5,5,6
2,0,15,0,1,1,1,1,0,1,1,...,4,3,2,2,3,3,10,7,8,10
3,0,15,0,0,1,4,2,1,2,2,...,3,2,2,1,1,5,2,15,14,15
4,0,16,0,0,1,3,3,2,1,2,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,0,19,1,0,1,2,3,3,1,0,...,5,4,2,1,2,5,4,10,11,10
1040,0,18,0,1,1,3,1,4,2,0,...,4,3,4,1,1,1,4,15,15,16
1041,0,18,0,0,1,1,1,2,1,0,...,1,1,1,1,1,5,6,11,12,9
1042,1,17,0,1,1,3,1,3,2,0,...,2,4,5,3,4,2,6,10,10,10
1043,1,18,1,1,1,3,2,3,1,0,...,4,4,1,3,4,5,4,10,11,11

### Normalization

In [8]:
#TODO: Add norm_spec
def normalize_data_zscore(df: pd.DataFrame) -> tuple[pd.DataFrame, dict, dict]:
    """
    Normalize the given DataFrame using Z-score (Standardization).
    
    Parameters:
        df (pd.DataFrame): The input DataFrame to be standardized.
        
    Returns:
        tuple: 
            - pd.DataFrame: The standardized DataFrame.
            - dict: A dictionary containing the mean of each column.
            - dict: A dictionary containing the standard deviation of each column.
    """
    # Initialize the StandardScaler
    scaler = StandardScaler()

    # Select columns to normalize (only numeric columns)
    columns_to_normalize = df.select_dtypes(include=['int64', 'float64']).columns

    # Fit the scaler and transform the data
    df[columns_to_normalize] = scaler.fit_transform(df[columns_to_normalize])

    # Get mean and standard deviation for each column
    column_means = scaler.mean_
    column_stds = scaler.scale_

    # Convert to dictionaries with column names as keys
    mean_dict = {col: column_means[i] for i, col in enumerate(columns_to_normalize)}
    std_dict = {col: column_stds[i] for i, col in enumerate(columns_to_normalize)}

    return df, mean_dict, std_dict

In [9]:
from sklearn.model_selection import train_test_split

data, mean, std = normalize_data_zscore(data)
# Split the data into training and testing sets
train_data, test_data = train_test_split(data, test_size=specs.test_size, random_state=42)

train_data.to_csv('processed_student_train_data.csv', index=False)
test_data.to_csv('processed_student_test_data.csv', index=False)

specs = {"mean": mean, "std": std}

# Save the lookup table to a JSON file for future reference
with open('specs.json', 'w') as file:
    json.dump(specs, file, indent=4)

data

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,-0.875498,1.027889,-0.612776,-0.643921,-2.761901,1.242077,1.466302,-1.629761,-1.639229,-1.065328,...,0.068788,-0.195099,0.732511,-0.542374,-0.999995,-0.381387,0.252155,-2.083727,-1.597738,-1.382871
1,-0.875498,0.221035,-0.612776,-0.643921,0.362069,-1.426089,-1.262431,-1.629761,-0.527237,-1.065328,...,1.140653,-0.195099,-0.135527,-0.542374,-0.999995,-0.381387,-0.070060,-2.083727,-1.902291,-1.382871
2,-0.875498,-1.392674,-0.612776,1.552986,0.362069,-1.426089,-1.262431,-1.629761,-0.527237,-0.252314,...,0.068788,-0.195099,-1.003566,0.554987,0.557044,-0.381387,0.896584,-1.413029,-0.988631,-0.347391
3,-0.875498,-1.392674,-0.612776,-0.643921,0.362069,1.242077,-0.352853,-0.826043,0.584754,0.560699,...,-1.003076,-1.165019,-1.003566,-0.542374,-0.999995,1.023086,-0.392275,1.269766,0.838688,0.946958
4,-0.875498,-0.585820,-0.612776,-0.643921,0.362069,0.352689,0.556724,-0.022325,-0.527237,0.560699,...,0.068788,-0.195099,-1.003566,-0.542374,-0.221475,1.023086,-0.070060,-1.748378,-0.379525,-0.347391
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,-0.875498,1.834744,1.631918,-0.643921,0.362069,-0.536700,0.556724,0.781392,-0.527237,-1.065328,...,1.140653,0.774821,-1.003566,-0.542374,-0.221475,1.023086,-0.070060,-0.406981,-0.074971,-0.347391
1040,-0.875498,1.027889,-0.612776,1.552986,0.362069,0.352689,-1.262431,1.585110,0.584754,-1.065328,...,0.068788,-0.195099,0.732511,-0.542374,-0.999995,-1.785861,-0.070060,1.269766,1.143242,1.205828
1041,-0.875498,1.027889,-0.612776,-0.643921,0.362069,-1.426089,-1.262431,-0.022325,-0.527237,-1.065328,...,-3.146806,-2.134939,-1.871604,-0.542374,-0.999995,1.023086,0.252155,-0.071631,0.229582,-0.606261
1042,1.142207,0.221035,-0.612776,1.552986,0.362069,0.352689,-1.262431,0.781392,0.584754,-1.065328,...,-2.074941,0.774821,1.600550,1.652347,1.335564,-1.083624,0.252155,-0.406981,-0.379525,-0.347391
1043,1.142207,1.027889,1.631918,1.552986,0.362069,0.352689,-0.352853,0.781392,-0.527237,-1.065328,...,0.068788,0.774821,-1.871604,1.652347,1.335564,1.023086,-0.070060,-0.406981,-0.074971,-0.088522